/**************************     Header    *************************************************/
.about-bg {
  position: relative;
}

.abt-img {
  width: 100vw;
  height: 400px;
  display: block; 
}

.about-text {
  position: absolute;
  margin-bottom:10% ;
  margin-left: 45%;
  font-size: 30px;
  transform: translateY(-50%);
}

.about-text h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
  font-family: Montserrat;
}

/***********************    IMAGES CONTAINER    **************************************************/
.Exe-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  margin-right: 15%;
  margin-left:15%;
  margin-top: 3%;
}

.Exe-img{
  width:300px;
  height:400px;
}



