/**************************     Header    *************************************************/
.about-bg {
  position: relative;
}

.abt-img {
  width: 100vw;
  height: 300px;
  display: block; 
}

.about-text {
  position: absolute;
  top: 47%;
  left: 45%;
  font-size: 40px;
  transform: translateY(-50%);
  color: white;
  font-weight: 600;
  font-family: Montserrat;
}


/***********************    IMAGES CONTAINER    **************************************************/
.Exe-cont{
  display: flex;
  flex-direction: row;
  margin-top:5%;
  margin-left:25%;

}

.Exe-img {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 400px; 
  margin-bottom: 20px;
  
}

.Exe-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; 

}

.Exe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ensure overlay fills the container */
  box-sizing: border-box; /* Include padding in the overlay size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7); /* Adjust background opacity as needed */
}

.Exe-overlay h1{
  font-size: 20px;
  color: black;
  margin-top: 0%;
}
.Exe-overlay p {
  font-size: 14px;
  margin:1%;
  text-align: justify;
}

/************************  Components   *******************************************/
.comp{
  margin-top :5%;
  margin-left:10%;
  text-align: center;

}

.comp-img {
  display: flex;
  flex-wrap: wrap;
}

.tech-img {
  position: relative;
  width: 400px;
  height:400px;
  overflow: hidden;
  
}

.tech-img img {
  width: 100%;
  height: auto;
}

.core-overlay {
  position: absolute;
  top: 0%;
  color:#20434F;

}

.core-overlay h1 {
  font-size: 26px;
}

.core-overlay p {
  margin-left: 3%;
  margin-right:3%;
  margin-top: 0%;
  text-align: justify;

}





/************************   PARTNERS    ********************************************/
.partner{
  margin-top :5%;
  text-align: center;
  margin-bottom:10%;
  
}

.partner h1{
  color:black;
  font-size: 25px;
  font-weight: 700;
  font-family: Montserrat;
}

.partner p{
  margin-top: 0%;
  display: flex;
  text-align: justify;
  font-size: 16px;
  color:#20434F;
  margin-left: 1in;
  margin-right: 1in;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.partner img{
  margin-top: 40%;
}

.partner-img img{
  width:200px;
  height:200px;
}


.partners-row {
  display: flex;
  flex-wrap: wrap; 
}



/*******************    LAST FOOTER   ********************************/ 
.footer-reserved {
  width: 100%;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer-reserved h1 {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-weight: 500;
} 



/*******************    MEDIA QUERY   *********************************/
@media screen and (max-width: 412px) {
  .about-text {
    margin-left: 50%; 
    font-size: 20px; 
  }

  .about-text h1 {
    font-size: 40px;
  }
    .comp {
      margin-top: 15%; 
    }

  
    .partner h1 {
      font-size: 18px; 
    }
  
    .partner p {
      font-size: 12px; 
    }


    .partners-row {
      flex-direction: column;
    }
  }
  







@media screen and (min-width: 413px) and (max-width: 768px) {
  .about-text {
    margin-left: 40%; 
    font-size: 26px; 
  }

  .about-text h1 {
    font-size: 60px; 
  }

  .comp {
    margin-top: 10%; 
  }

  .partner {
    margin-left: 2%; 
    margin-right: 2%;
  }

  .partner h1 {
    font-size: 20px; 
  }

  .partner p {
    font-size: 14px; 
  }

  .partners-row {
    flex-direction: row; 
}
}


