.bus-image-container {
    position: relative;
    width: 100%;
}

.bus-background-image {
    width: 100%;
    height: 350px;
}

.bus-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: Montserrat;
}

/**********  PARRENT  **************/
.bus-parrent-1 {       /*******    parrent-1   *******/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
}
.bus-child-1{
    width:70px;
    height:70px;
}
.bus-child-1 img{
    width: 70px;
    height: 70px;
    opacity: 0.6;
    cursor:pointer;
    margin-left: 34%;
    transition: all 0.2s ease-in-out;
}

.bus-parrent-2{     /******* Parrent-2   *********/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
}
.bus-child-2{
    width:70px;
    height:70px;
}
.bus-child-2 img{
    width: 70px;
    height: 70px;
    cursor:pointer;
    opacity: 0.6;
    margin-left: 34%;
    transition: all 0.2s ease-in-out;
}

.bus-parrent-3{   /******  Parrent-3***********/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top:2%;
    margin-left:0%;
}
.bus-child-3{
    width:70px;
    height:70px;
}
.bus-child-3 img{
    width: 70px;
    height: 70px;
    opacity: 0.6;
    cursor:pointer;
    margin-left: 34%;
    transition: all 0.2s ease-in-out;
}
.bus-p3{
    margin-left:-20%;
}
.bus-child-1 img:hover{
    opacity:1;}
.bus-child-2 img:hover{
    opacity:1;
}
.bus-child-3 img:hover{
  opacity:1;
}
/********** BOX AND PLAY *************/
.box {
    position: absolute;
    top: 40%;
    left: 7%;
    width: 250px;
    background-color: #ffffff;
    opacity: 0;
    border: 1px solid gray;
    border-radius: 10px;
    height: 0px;
  }
 
  #play {
    padding: 4vw;
    background-color: #007ac0cd;
    border-radius: 10px;
    color: #FFFFFF;
    width: 300px;
    /* height: 0px;  */
    /* Commented out to allow the button to expand based on content */
    font-size: 1vw;
    position: absolute;
    top: 55%;
    left: 6%;
    opacity: 0;
  }
 



