/***************    BACKGROUND IMAGE  ********************/
.cnt-image-container {
  position: relative;
}

.cnt-background-image {
  width: 100%;
  height: 350px;
}
.cnt-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  font-weight: bold;
  font-family: Montserrat;
}

/***************    BOX--CONTAINER    ******************************/
.big-box{
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 5%;
}

.box{
    width:250px;
    height:200px;
    background-color:#FFE4E1;
    margin:20px;
    z-index: 1;
    border-radius: 1rem;
    }

  .box h1{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #20434f;
    z-index: 2;
    text-align: center;
    margin:20% 10%;
  }

 

  /***********    CONTACT-- TEXT    *****************/
  .contact-text{
    margin-top: 0%;
    margin-left: 5%;
  }
  .contact-text h1{
    font-family:Montserrat;
    font-size: 25px;
    color:black;
    font-weight: 700;
  }
  .con-text-1{
    margin-top: 0%;
    margin-left: 5%;
  }
  .con-text-1 h1{
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: black;
  }
  .con-text-1 span{
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
    margin-left: 10px; 
  }

  /********************   BRANCH CONTAINER     ***********************/
  .branch h1{
    margin-top: 3%;
    text-align: center;
    font-size: 26px;
    color: black;
    font-weight: 700;
    margin-bottom: 3%;


  }

  /***************************Media Query for 412 px******************************/
  /************************ Media Query for 412px ,768px and more***********************************/

@media screen and (max-width: 412px) {
  .cnt-background-image {
    width: 100%;
    height: auto;
  }
  .cnt-overlay-text {
    font-size: 24px;
  }

  .contact-text{
    margin-top: 0%;
    margin-left: 5%;
  }
  .contact-text h1{
    font-family:Montserrat;
    font-size: 20px;
    color:black;
    font-weight: 700;
  }
  .contact-text  span{
    font-family: Montserrat;
    font-size: 20px;
    color: #007bc0;
    font-weight: 700;
  }
  .con-text-1{
    margin-top: 0%;
    margin-left: 5%;
  }
  .con-text-1 h1{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: black;
  }
  .con-text-1 span{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
    margin-left: 10px; 
  }

  .branch h1{
    margin-top: 3%;
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin-bottom: 3%;
  }

  .big-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .box{
      width:250px;
      height:200px;
      background-color:#FFE4E1;
      margin:20px;
    
      border-radius: 1rem;
      }
  
    .box h1{
      font-size: 14px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #20434f;
    
      text-align: center;
      margin:20% 10%;
    }







}

















/* Media Query for  768px */
@media screen and (min-width: 413px) and (max-width: 768px) {
  .cnt-overlay-text {
    font-size: 28px;
  }

  /***********   contact  ***************/
  .con-text-1 {
    display: flex;
    flex-direction: column;
  }

}







/* Media Query for larger than 768px */
@media screen and (min-width: 769px) {
  .cnt-overlay-text {
    font-size: 36px;
  }
  /*************     BOXES    *****************/
  .big-box{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .box{
      width:250px;
      height:200px;
      background-color:#FFE4E1;
      margin:20px;
      z-index: 1;
      border-radius: 1rem;
      }
  
    .box h1{
      font-size: 14px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #20434f;
      z-index: 2;
      text-align: center;
      margin:20% 10%;
    }
  
   
}


