.implement-image-container {                 /**********    Background  conatiner*******/
    position: relative;
    width: 100%;
    
  }
 
  .implement-background-image {
    width: 100%;
    height: 200px;

  }
 
  .imple-Sol {
    position: absolute;
    left: 40%;
    top: 30%;
    font-family: jaldi;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  /*****************************************     Images Container    *******************************************************/
  .container {
    display: flex;
    justify-content: center;
    padding:0;
  }
  
  .image-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:15px;
  }
  
  
  
  .image-container {
    width: 270px;
    height: 420px;
    margin: 20px;
    position: relative;
    overflow: hidden;
  }
  
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    transition: all .05s ease-in-out;
    
  }
  .image-container:hover img{
    transform: scale(1.2) ;
    opacity: 0.6;
    border-radius: 1.5rem ;
  }
  
  
  
  .text-1 {
    position: absolute;
    justify-content: center;
    bottom: 35%;
    left: 5%;
    width: 90%;
    font-size: 29px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
  }
  