/**************Navigation Bar******************/

 .infra-navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 80px;
   background-color: #bca68e;
   border-radius: 12px;

 }

 .infra-image-container {
  position: relative;
  width: 100%;
}

.infra-background-image {
  width: 100%;
  height: 200px;
}

.infra-sol {
  position: absolute;
  left: 20%;
  top: 30%;
  font-family: jaldi;
  color: white;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

 .arrow-image {
   width: 7%;
   height: 7%;

 }

 .Navbutton {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100px;
   height: 100px;
   margin-right: 10%;

 }

 .Navbutton li {
   list-style: none;
   padding: 0px 20px;
   position: relative;
   color: #ffffff;
 }

 .Navbutton li a {
   text-decoration: none;
   font: jaldi;
   font-size: 20px;
   font-weight: bold;
   color: #FFFFFF;
   transition: 0.3s ease-in-out;
 }

 .Navbutton li a:hover {
   color: #007bc0;
 }

  .infra-App-header2 {
   background-color: #007BC0;
   min-height: 400px;
   display: flex;
   width: 100%;
   flex-direction: row;
   
   align-items: center;
   font-size: 20px;
   color: white;
 }

 .footer {
   background-color: #ffffff;
   min-height: 100px;
   padding-left: 41%;
   display: flex;
   width: 100%;
   flex-direction: row;
   align-items: center;
   font-size: 1.5rem;
   color: black;
 }

 .Style {
  font-weight: medium;
  font-size: 22px;
  font-family: inter;
  margin-top: 10;
  }



/********************************    IMAGES CONTAINER    ***********************************************************/


 .container {
   Display: flex;
   justify-content: flex-start;
   width: fit-content;
   left: 2%;
 }

 .image-row {
   display: flex;
   justify-content: center;

 }

 .image-row img {
   width: 437px;
   height: 544px;
   margin: 20px;
 }

 .image-container {
   position: relative;
   width: 437px;
   height: 544px;
 }


 .text-overlay {
   position: absolute;
   left: 5%;
   right: 5%;
   width: 100%;
   bottom:0;
 }

 .text-overlay h1 {
   font-size: 20px;
   font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
   
 }

 .text-overlay p {
   font-size: 14px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-top: 10%;
 }

 

 .service1 {
   margin-left: 90%;
   margin-bottom: 30%;
   margin-top: 10%;
   font-size: 26px;
   font-weight: bold;
   font: jaldi;
 }

 .style {
   font: inter;
   font-size: 20px;
   margin-left: 27%;
 }

 .contact-info {
   margin-left: 80%;
 }

 .infra-contact-info{
  margin-left:80% ;
  margin-bottom: 12%;
 }






.card-row{
  display: flex;
  flex-direction: row;
}

 .card-container{
  width:15rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #999;
  display: flex;
  flex-direction: column;
  margin:0.5rem;
  background-color: white;
  height: fit-content;
 }


 .card-image{
  width:100%;
  height:200px;
  border-radius: 1rem 1rem 0 0;

 }

 .card-title,
 .card-description{
  margin: 0.5rem 5%;
 }

 
 /*******************************************   MEDIA QUERY FOR 412PX   ************************************************/
 @media (max-width: 412px) {
  .nav-links {                   /**********  NAVBAR CSS*************/
    display: none;
    width:60%;
  }
  .arrow{
    width: 20px;
    height:20px;
  }

  .burger {
    display:flex;
    
  }

  .line{
    width:20px;
    height:1px;
  }
  
  .open {
    position: fixed;
    top: 0;
    left: 0%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    width: 412px;
    height:100px;
  }

  .open .nav-links {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .open.nav-links li {
    margin: 0.1rem 0;
  }
}

