.navbar {
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 2px solid black;
}

.nav-img {
  width: 80px;
  aspect-ratio: 1;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-bars {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.menu-bars.open {
  transform: rotate(-45deg);
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #000;
}

.auth-buttons {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .menu.open {
    display: flex;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
