.App-header {
    background-color: hwb(120 0% 98%);
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(20px);
    color: white;
  }
  
  .ptag {
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .home {
    border: "3px solid white";
  }
/********************************************** NAVIGATION BAR CSS **************************************************/
  .navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color:#D8E9F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
  }
  
  .logo {
    width: 70px;
    height: 70px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 1rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color:#007bc0;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
  }
  
  .open .line:nth-child(1) {
    margin-left:15px;
    margin-top:5%;
    transform: translateY(8px) rotate(45deg);
  }
  
  .open .line:nth-child(2) {
    opacity: 0;
  }
  
  .open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .open .line:nth-child(4) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .burger {
      display: flex;
    }
  
    .open {
      position: fixed;
      top: 15;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10000;
    }
  
    .open .nav-links {
      display: flex;
      flex-direction: column;
      margin-left: auto;
    }
  
    .open.nav-links li {
      margin: 0.1rem 0;
    }
  }
  

  @media (max-width: 300px) {
    .nav-links {
      display: none;
    }
  
    .burger {
      display: flex;
    }
  
    .open {
      position: fixed;
      top: 15;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10000;
    
    }
  
    .open .nav-links {
      display: flex;
      flex-direction: column;
    }
  
    .open .nav-links li {
      margin: 1rem 0;
    }
  }



  .background-image {
    width: 100%;
    height: 100px;
  }
  
  .solution-image-container {
    position: relative;
    width:100%;
  }
  
  .background-image {
    width: 100%;
    height: 500px;
  }
  
  .overlay-text {
    position: absolute;
    top: 15%; /* Adjust the top position as needed */
    left: 12%;
    font-size: 8rem; /* Adjust the font size as needed */
    color: white; /* Set the text color */
    font-weight: bold; /* Set the font weight if needed */
    text-align: center; /* Center the text */
  }
  .para1 {
    font-size: 1.5rem;
  }
  .background-image2 {
    width: 35%;
    height: 500px;
    border-radius: 15px;
    position: relative;
    margin-left: 100px; /* Adjust the margin as needed */
    margin-bottom: 50px;
  }
  .imageAndTextContainer {
    display: flex;
  }
  
  .textContainer {
    margin-left: 20px; /* Adjust the margin as needed */
  }
  
  .para_q {
    font-size: 1.5rem;
    border: 1px solid #007bc0;
  }
  .customers {
    text-align: left;
    font-size: 35px;
    font-weight: bold;
  }
  .margins {
    margin: bottom 30px;
  }
  .App-header2 {
    background-color:#007BC0;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(20px);
    color: white;}
    .footer{ background-color: #ffffff;
      min-height: 100px;
      padding-left: 41%;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.5rem;
      color: black;
    }
    .machine{
      position: relative;
      margin-left: 10%;
      width:27%;
      height:500px;
      top:51px;
      border-radius: 10px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .itroom{
      position:relative;
    
      top:51px;
      width:27%;
      height:500px;
      border-radius: 10px;
      margin-bottom: 50px;
      ;
  
    }
    .inovation{
      position:relative;
      
      
      width:27%;
      height:500px;
      border-radius: 10px;
      margin-bottom: 60px;
    }
      

      .top-left {                /* Top text */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      