/*************    BACKGROUND PART   ************************/
.sol-bg {
  position: relative;
}

.sol-img {
  width: 100vw;
  height: 500px;
  display: block;
}

.sol-text {
  position: absolute;
  top: 50%;
  left: 40%;
  font-weight: 700;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transform: translateY(-50%);
  color:#20434F;
  
}


/*****************    SOLUTION SERVICES   ****************************/

.services-cont1 {
  margin-top: 3%;
}

.services-cont1 h1 {
  font-size: 28px;
  font-family: Montserrat;
  color: black;
  font-weight: 800;
  text-align: center;
  
}

.services-container1 {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  

}

.ser-img1 {
  display: flex;
  flex-direction: row;
  border-radius: 1.5rem;
  overflow: hidden;
  width: 270px;
  height: 270px;
  margin: 20px;
  z-index: 1;
}

.ser-img1 img {
  width: 100%;
  height: 100%;
  display: block;
  transition: all .05s ease-in-out;
}

.ser-img1 h1 {
  position: absolute;
  top: 120%;
  margin: 0;
  color: #20434F;
  text-align: center;
  font-size: 25px;


}

.ser-img1:hover img {
  transform: scale(1.2);
  opacity: 0.6;

}



/********************************     FOOTER RESERVED   *************************************************/
.footer-reserved {
  width: 100%;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-reserved h1 {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-weight: 500;
}



/*******************     MEDIA QUERRY FOR 768PX     ****************************/
@media screen and (max-width: 768px) { 
  .sol-img {
    width: 100vw;
    height:300px;
    display: block;
  }
  
  .sol-text {
    position: absolute;
    top: 50%;
    left: 36%;
    font-weight: 700;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translateY(-50%);
    color:black;
  }

  .services-cont1 {       /**********    SERVICES    ****************/
    margin-top: 3%;
  }
  
  .services-cont1 h1 {
    font-size: 28px;
    font-family: Montserrat;
    color: black;
    font-weight: 800;
  }
  
  .services-container1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
  }
  
  .ser-img1 {
  position: relative;
  border-radius: 1.5rem;
  display: flex;
  width: 200px;
  height: 200px;
  margin: 10px;
  }
  
  .ser-img1 img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all .05s ease-in-out;
  }
  
  .ser-img1 h1 {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #20434F;
  text-align: center;
  font-size: 25px;
  }
  
  .ser-img1 :hover img {
    transform: scale(1.2);
    opacity: 0.6;
  
  }
}


/**************** MEDIA QUERY FOR 412PX   *********************/
@media screen and (max-width: 412px) { 
  .sol-img {
    width: 100vw;
    height:auto;
    display: block;
  }
  
  .sol-text {
    position: absolute;
    top: 50%;
    left: 36%;
    font-weight: 700;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translateY(-50%);
    color:black;
  }

  /****************   SERVICES CONTAINER    *******************/
  .services-cont1 {
    margin-top: 10%;
  }
  
  .services-cont1 h1 {
    font-size: 20px;
    font-family: Montserrat;
    color: black;
    font-weight: 800;
    text-align: center;
    
  }
  
  .services-container1 {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
  
  }
  
  .ser-img1 {
    display: flex;
    flex-direction: row;
    border-radius: 1.5rem;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: 20px;
    z-index: 1;
  }
  
  .ser-img1 img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all .05s ease-in-out;
  }
  
  .ser-img1 h1 {
    position: absolute;
    margin: 0;
    color: #20434F;
    text-align: center;
    font-size: 25px;
  
  
  }
  
  .ser-img1:hover img {
    transform: scale(1.2);
    opacity: 0.6;
  
  }
}

/*************    MEDIA QUERY FOR MORE THAN 768PX *******************/

@media screen and (max-width: 768px) { 
  .sol-img {
    width: 100vw;
    height:300px;
    display: block;
  }
  
  .sol-text {
    position: absolute;
    top: 50%;
    left: 36%;
    font-weight: 700;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translateY(-50%);
    color:black;
  }

  

}


